* {
  box-sizing: border-box;
}

body {
  font-family: Times New Roman;
  padding: 0px;
  margin: 0;
}

/* Style the header */
header {
  background: white;
  text-align: center;
  font-family: Times New Roman;
  font-size: 36px;
  color: #2c5364;
  width: 100%;
  margin-top: 30px;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background: linear-gradient(#0f2027, #2c5364 25%, #203a43, #0f2027);
  box-shadow: 0px 2px 5px;
  width: 100%;
}

#loginbar {
  overflow: hidden;
  background: linear-gradient(#0f2027, #2c5364 25%, #203a43, #0f2027);
  box-shadow: 0px 2px 5px;
  width: 100%;
  color: #f2f2f2;
  padding: 7px;
  display: none;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  margin: 0px;
  text-decoration: none;
  font-size: 20px;
}

/* Page content */
.content {
  padding-top: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.sticky2 {
  position: fixed;
  top: 40px;
  width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
  width: 100%;
}

.sticky2+.content {
  padding-top: 60px;
  width: 100%;
}

#admin {
  display: block;
  float: right;
  cursor: pointer;
}

.statement {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(#30e8bf, #ff8235) 1;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 24px;
  align-content: center;
  color: #2c5364;
}

.fancyborder {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #30e8bf, #ff8235) 1;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  letter-spacing: 5px;
}

.imgcontainer {
  display: block;
  width: 15%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  /*position: relative;*/
  margin: 6px auto;
  text-align: center;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #30e8bf, #ff8235);
  background-clip: border-box;
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 3px 8px rgba(0, 0, 0, 0.8);

}

.imgcontainerimg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;

}

.imgcontainerimg:hover {
  opacity: 0.7;
}

#analyst {
  text-align: center;
  font-size: 28px;
  background-image: repeating-linear-gradient(to right, #30e8bf, #ff8235);
  background-size: 30% 100%;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
  -webkit-background-clip: text;
}

.climb {
  width: 50%;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.leftcolumn {
  flex: 50%;
  background: white;
  padding: 20px;
  font-family: Times New Roman;
  font-size: 18px;
  border-right: 1px solid;
  border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;
  color: #2c5364;
}

.rightcolumn {
  flex: 50%;
  padding: 20px;
  background-color: white;
  font-family: Times New Roman;
  font-size: 18px;
  border-left: 1px solid;
  border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;
  color: #2c5364;
}

.leftsecondcolumn {
  flex: 50%;
  padding: 20px;
  border-right: 1px solid;
  border-image: repeating-linear-gradient(#30e8bf, #ff8235) 1;
}

.rightsecondcolumn {
  flex: 50%;
  padding: 20px;
  border-left: 1px solid;
  border-image: repeating-linear-gradient(#30e8bf, #ff8235) 1;
}

/* Style the list inside the menu */
header ul {
  font-size: 7px;
  list-style-type: none;
  padding: 0;
}

.gridcontainer {
  float: left;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 325px 20px;
  grid-column-gap: 15px;
}

.certs {
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 320px;
}

.node text {
  font-size: 12px;
  font-family: Times New Roman;
  stroke: none;
  fill: #16E8FB;
}

.link {
  stroke: #999;
  stroke-opacity: .4;
}

h3 {
  color: #1ABC9C;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-family: Times New Roman;
}

.examples {

  flex: 50%;
}

.eximg {
  width: 50%;
}

footer {
  background-color: #2c5364;
  height: 500px;
  border-top: 4px solid #ff8235;
  color: white;
  padding: 50px;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
    clear: both;
  }

  .rightcolumn {
    border: 1px solid;
    border-image: repeating-linear-gradient(#30e8bf, #ff8235) 1;
    flex: 100%;
  }

  .leftcolumn {
    border: 1px solid;
    border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;
    flex: 100%;
  }

  .rightsecondcolumn {
    border: 1px solid;
    border-image: repeating-linear-gradient(#30e8bf, #ff8235) 1;
    flex: 100%;
  }

  .leftsecondcolumn {
    border: 1px solid;
    border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;
    flex: 100%;
  }

  .statement {
    font-size: 20px;
  }

  .modal-content {
    width: 100%;
  }

  #navbar a {
    font-size: 10px;
    padding: 5px;
  }
}