.functionSign {
    margin-right: 40px;
}

/* .axis-grid line {
    stroke: white;
    opacity: 0.5;
}

.slidecontainer {
    width: 100%;
    flex-direction: column;
    padding: 2px;
}

.slider {
    width: 75%;
}

#my_dataviz {
    padding: 250px;
    align-content: center;
    align-self: center;
} */

#my_dataviz :hover {
    cursor: crosshair;
}