.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.slidecontainer {
    width: 100%;
    flex-direction: column;
    padding: 2px;
}

.slider {
    width: 75%;
}

#my_dataviz {
    padding: 2px;
    align-content: center;
}

#my_dataviz :hover {
    cursor: crosshair;
}