.functionSign {
    margin-right: 40px;
}



/* #my_dataviz {
    position: relative;
    width: 100%;
} */

#my_dataviz :hover {
    cursor: crosshair;
}


@media (max-width: 600px) {

    .graphColumn {
        padding-left: 5px;
        padding-right: 5px;
    }
}