* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', Open Arial, Helvetica, sans-serif;
    text-align: center;
}


main {
    margin: 0px;
    padding: 0px;
}


.graph-svg-component {
    background-color: #97f3df;
}


.landingTitle {
    font-size: 50px;
    letter-spacing: 5px;
}


#my_dataviz {
    background-color: #97f3df;
    padding: 0px;
    margin: 0px;
}


#about p {
    font-size: 28px;
}

#about {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 25px;
}


.banner {
    position: relative;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(#30e8bf, #ff8235) 1;
    margin-bottom: 0;
    padding: 0;

}

.navigation+main {
    padding-top: 60px;
}

.spacerLeft,
.spacerRight {
    border-image: linear-gradient(#ff8235, #30e8bf) 1;
}

.orangeLeft,
.spacerLeft {
    border-right: 2px solid;
}

.orangeRight,
.spacerRight {
    border-left: 2px solid;

}

.orangeLeft,
.orangeRight {
    border-color: #ff8235;
}

.orangeLeft,
.orangeRight,
.spacerLeft,
.spacerRight {
    display: block;
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .landingTitle {
        font-size: 24px;
        letter-spacing: 3px;
    }

}