.quizForm {
    width: 90%;
}

.quizForm input[type=text],
.quizForm input[type=number] {
    width: 100%;
}

.questionLabels {
    display: block;
    margin-top: 30px;
}

.quizRadioLabels {
    margin: 5px;
}

.quizRadios {
    margin: 10px;
}