.quizForm {
    width: 100%;
}

.quizForm input[type=text],
.quizForm input[type=number] {
    width: 100%;
}

.questionLabels {
    display: block;
    margin-top: 30px;
}

.quizRadioLabels {
    margin: 5px;
    padding: 5px;
}

.quizRadios {
    margin: 10px;
}

#submitQuiz {

    display: block;
    position: relative;
    width: 60%;
    margin: 10px;
    padding: 2%;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: buttonAnime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#submitQuiz:hover {
    background-color: #3e8e41
}

#submitQuiz:active {
    background-color: #3e8e41;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}

.nickname {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

@keyframes buttonAnime {
    0% {
        background-image: linear-gradient(to right, #4CAF50, #4CAF50, #4CAF50, #4CAF50);
        left: 25%;
        top: 0px;
    }

    89% {
        background-image: linear-gradient(to right, #4CAF50, #4CAF50, #4CAF50, #4CAF50);
        left: 26%;
        top: 0px;
    }

    90% {
        background-image: linear-gradient(to right, #30e8bf, #4CAF50, #4CAF50, #4CAF50);
        left: 27%;
        top: 0px;
    }

    92% {
        background-image: linear-gradient(to right, #4CAF50, #30e8bf, #4CAF50, #4CAF50);
        left: 28%;
        top: 0px;
    }

    94% {
        background-image: linear-gradient(to right, #4CAF50, #4CAF50, #30e8bf, #4CAF50);
        left: 27%;
        top: 0px;
    }

    96% {
        background-image: linear-gradient(to right, #4CAF50, #4CAF50, #4CAF50, #30e8bf);
        left: 26%;
        top: 0px;
    }

    100% {
        background-image: linear-gradient(to right, #4CAF50, #4CAF50, #4CAF50);
        left: 25%;
        top: 0px;
    }
}


.hintBtn {
    display: block;
    position: relative;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
    text-align: center;
    padding: 2%;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: hintAnime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes hintAnime {
    98% {
        transform: rotate(0deg);
    }

    99% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.hint:hover {
    background-color: #3e8e41
}

.hint:active {
    background-color: #3e8e41;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}

.hintText {
    display: none;
}