* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Open Arial, Helvetica, sans-serif;
  color: #2c5364;
  padding: 0px;
  margin: 0;
}

/* Header contains title, main page photo and the page intro paragraph */
header {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

/*Navigation bar styles*/
#navbar {
  overflow: hidden;
  background: linear-gradient(#0f2027, #2c5364 25%, #203a43, #0f2027);
  box-shadow: 0px 2px 5px;
  width: 100%;
}

#loginbar {
  overflow: hidden;
  background: linear-gradient(#0f2027, #2c5364 25%, #203a43, #0f2027);
  box-shadow: 0px 2px 5px;
  width: 100%;
  color: #f2f2f2;
  padding: 7px;
  display: none;
}

/* Navigation bar links*/
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5vw 1vw;
  margin: 0px;
  text-decoration: none;
  font-size: 1.5vw;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.sticky2 {
  position: fixed;
  top: 40px;
  width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
  width: 100%;
}

.sticky2+.content {
  padding-top: 60px;
  width: 100%;
}

#admin {
  display: block;
  float: right;
  cursor: pointer;
}

.pageTitle {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(#30e8bf, #ff8235) 1;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 3.5vw;
  letter-spacing: 1.5vw;
}

.pageIntro {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(#30e8bf, #ff8235) 1;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 24px;
  align-content: center;
}



#pageSubtitle {
  text-align: center;
  font-size: 28px;
  background-image: repeating-linear-gradient(to right, #30e8bf, #ff8235);
  background-size: 30% 100%;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
  -webkit-background-clip: text;


}

.hiddenSpacerBlue,
.hiddenSpacerOrange {
  display: none;

}

.spacer {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.spaceLeft,
.spaceRight {
  border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 20px;
}

.spaceLeft {
  border-right: 1px solid;
}

.spaceRight {
  border-left: 1px solid;
}

.imgcontainer {
  display: block;
  width: 20%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
  text-align: center;

  background-origin: border-box;

  background-image: linear-gradient(#30e8bf, #ff8235);
  border: 4px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 3px 8px rgba(0, 0, 0, 0.8);

}

.imgcontainerimg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;

}

.imgcontainerimg:hover {
  opacity: 0.7;
}



.climb {
  width: 50%;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.leftcolumn,
.rightcolumn {
  flex: 50%;
  background: white;
  padding: 20px;
  font-size: 18px;
}

.leftcolumn {
  border-right: 1px solid;
}

.rightcolumn {
  border-left: 1px solid;
}

.rightcolumn,
.leftcolumn {
  border-image: repeating-linear-gradient(#ff8235, #30e8bf, #ff8235) 1;
}

/* Style the list inside the menu */
header ul {
  font-size: 7px;
  list-style-type: none;
  padding: 0;
}

.certs {
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 320px;
}

.certcontainer {
  border: 0px;
}

.node text {
  font-size: 12px;
  font-family: Times New Roman;
  stroke: none;
  fill: #16E8FB;
}

.link {
  stroke: #999;
  stroke-opacity: .4;
}

h3 {
  color: #1ABC9C;
  text-align: center;
  font-style: italic;
  font-size: 14px;

}

.examples {

  flex: 50%;
}

.eximg {
  width: 50%;
}

footer {
  background-color: #2c5364;
  height: 500px;
  border-top: 4px solid #ff8235;
  color: white;
  padding: 50px;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: auto
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Media rule */
@media (max-width: 600px) {

  /* Make columns stack */
  .row {
    flex-direction: column;
    clear: both;
  }

  /* When columns stack make border appear on all sides */
  /* Set margins so border is not right at the screen edge */
  .rightcolumn,
  .leftcolumn {
    border: 2px solid;
    max-width: 100%;
    margin-left: 2px;
    margin-right: 2px;
  }


  /* Set opposite gradients for left and right columns */
  .rightcolumn {
    border-image: repeating-linear-gradient(#30e8bf, #ff8235) 1;
  }

  .leftcolumn {
    border-image: repeating-linear-gradient(#ff8235, #30e8bf) 1;

  }

  /* Make hidden spacers visible */
  .hiddenSpacerBlue {
    display: block;
    border-image: none;
    border-color: #30e8bf;
  }

  .hiddenSpacerOrange {
    display: block;
    border-image: none;
    border-color: #ff8235;
  }

  .statement {
    font-size: 16px;
  }

  .modal-content {
    width: 100%;
  }

  /* #navbar a {
    font-size: 2.5vw;
  } */



}